.page {
    border: 1px solid black;
    height: 500px;
    width: 45%;
    float: left;
    box-sizing: border-box;
}

.tabhorizontal {
    border: 1px solid black;
    height: 30px;  
    width: 90%;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
}

.tabvertical {
    border: 1px solid black;
    width: 30px;
    height: 500px;
    box-sizing: border-box;
    display: inline-block;
}

.main {
    border: 1px solid black;
    width: 50%;
    height: 100%;
}
.left {
    float: right;
}

.H {
    border: 1px solid black;
    height: 100%;
    width: 80px;
    display: inline-block;
    display: -webkit-box;
}

.V {
    border: 1px solid black;
    height: 80px;
    width: 100%;
}

.planner {
}

.sectionOne{
    border: 1px solid black;
    height: 150px;
    width: 276px;
}

.sectionTwo{
    border: 1px solid black;
    height: 137px;
    width: 276px;
}

.sectionThree{
    border: 1px solid black;
    height: 205px;
    width: 276px;
}